
<html>
<head>
  <meta charset="utf-8">
  <title>Blockly</title>
  <link rel="icon" href="data:,">
  <script src="./static/js/blockly_compressed.js"></script>
  <script src="./static/js/blocks_compressed.js"></script>
  <script src="./static/js/msg/js/en.js"></script>
  <script src="./static/js/dart_compressed.js"></script>
  <script src="./static/js/javascript_compressed.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->


	<style>
body {
  font-family: Arial;
  color: white;
}
canvas{
			background: white;
			border: 5px solid black;
			width:600px;
			padding-top: 90px
			height:600px
		}

.split {
  height: 70%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 40px;
}

.left {
  left: 0;
  padding-right: 20px;
  <!-- background-color: #111; -->
}

.right {
  right: 0;
  <!-- padding-right: 20px; -->
  <!-- background-color: red; -->
}


.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;

</style>
  
</head>
<body>
  <p id="call"></p>

  <button id="dartButton">Dart</button>
  <button id="javascriptButton">Javascript</button>
  <button id="runButton"  style="background-color: red;">Run</button>
<!-- <img src="{{url_for('static', filename='stop.png')}}" -->

 
   <!-- <form  action="http://127.0.0.1:5000/cozmo_program" method="post"> -->
  <!-- <button id="Button" type="submit" style="background-color: red;">Cozmo</button> -->
   <!-- </form> -->
  <!-- split the screen -->
  <!-- <div class="split left"> -->
     
  <!-- </div> -->
   <div  id="blocklyDiv" style="width:50%;height:50%" ></div>
   <div class ="split right">
    
     <div>
<br>
	  <canvas id="canvas" style="background: #fff;magrin-left:30px;"></canvas>
     <!-- <img src="{{url_for('static', filename='stop.png')}}" /> -->
	  <!-- <img src="static/stop.png" /> -->
	
	  <script src="{{ url_for('static', filename='js/maze.js') }}"></script>
	  
     </div>
	 
	 <div>
	   <button id="moveright" onclick="callfunctionRight()" style="width:70px;height:30px;padding-left:10px;background-color:blue;color:white">Right</button>
	
	
	   <button id="moveup" onclick="callfunctionUp()" style="width:70px;height:30px;padding-left:10px;background-color:blue;color:white">Up</button>
	 
	   <button id="movedown" onclick="callfunctionDown()" style="width:70px;height:30px;padding-left:10px;background-color:blue;color:white">Down</button>
	   <!-- <button id="movedown" onclick="callfunction()" style="width:70px;height:30px;padding-left:10px;background-color:blue;color:white">Down</button> -->
	
	   <button id="moveleft" onclick="callfunctionLeft()" style="width:70px;height:30px;padding-left:10px;background-color:blue;color:white">Left</button>
	 </div>
	   <!-- <button id="1" onClick="reply_click(this.id)">B1</button> -->
  </div>

  <xml id="toolbox" style="display: none; background-color:black">
      <category name="Motion" colour="270">
           <block type="base_delay_example"></block>
		   <block type="move_Up"></block>
	       <block type="move_Right"></block>
		   <block type="move_Left"></block>
		   <block type="move_Down"></block>
		   <block type="move_Forward"></block>
      </category>
      <category name="Logic" colour="210">
			<!-- <block type="logic_boolean"></block> -->
			<block type="logic_compare"></block>
		    <block type="logic_boolean"></block>
		    <!-- <block type="logic_boo"></block> -->
			<!-- <block type="controls_repeat"></block> -->
			<block type="controls_if"></block>
		  
	 </category>
     <category name="Loops" colour="120">
	       <block type="controls_whileUntil"></block>
	 	   <block type="controls_for"></block>
	 	   <block type="controls_repeat_ext"></block>
     </category>
	 <category name="Math" colour="230">
	    <block type="math_number"></block>
		<block type="math_arithmetic">
	 </category>
     <category name="Colour" colour="20">
	     <block type="colour_blend"></block>
		 <block type="ii_print"></block> 
	 </category>
	  <category name="Text" colour="20">
	     <block type="text_print"></block>
		 <block type="text_length"></block>
	 </category>
     <category name="Variables" colour="330" custom="VARIABLE"></category>
     <category name="Functions" colour="290" custom="PROCEDURE"></category>

  </xml>
  <script>
  
    var blockyWorkspace = Blockly.inject('blocklyDiv',
        {toolbox: document.getElementById('toolbox')});
    var dartButton = document.getElementById("dartButton");
    dartButton.addEventListener("click", function(){
      var code = Blockly.Dart.workspaceToCode(blockyWorkspace);
      alert(code);
    });
    var javascriptButton = document.getElementById("javascriptButton");
    javascriptButton.addEventListener("click", function(){
    var code = Blockly.JavaScript.workspaceToCode(blockyWorkspace);
    alert(code);
	
	console.log(code);
	function doWork() {
	//ajax the JSON to the server
	$.post("get_data",{javascript_data: code
	});

	}
	doWork();
	
	  
    });
    var runButton = document.getElementById("runButton");
    runButton.addEventListener("click", function(){
      var code = Blockly.JavaScript.workspaceToCode(blockyWorkspace);
     // console.log(code[0]); 
	  //alert(code);
      try {
        eval(code);
      } catch (e) {
      // alert(JSON.stringify(e));
      }
    });

  function stage()
  {
      var no;
	  no={{number}};
	  //setstagefromblockly(no);
	  if(no==1){
	
	  start();}
	  if(no==2){
	  startsec();}
	  if(no==3){
	  startthird();}
	  if(no==4){
	  startfourth();}
	  if(no==5){
	  startfivth();}
	  if(no==6){
	  startsixth();}
	  if(no==7){
	  startseventh();}
	  if(no==8){
	  starteighth();}
	  if(no==9){
	  startninth();}
	  if(no==10){
	  starttenth();}
  
 
  }
  function reply_click4(clicked_id)
  {   setstagefromblockly(clicked_id);
      startfourth();
  }
  function reply_click5(clicked_id)
  {
  
  }
  document.getElementById("call").innerHTML = stage(); 
  
  </script>
  <br>
  <b><a href="http://127.0.0.1:5000/">Back To HomePage</a></b>
</body>
</html>
